@using Microsoft.AspNetCore.Identity
@using Innerglow_App.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    
@if (SignInManager.IsSignedIn(User))
{
    <a href="/Cart/GetUserCart" class="border rounded py-1 px-3 nav-link d-flex align-items-center" style="color:black;">
        <i class="fas fa-shopping-cart m-1 me-md-2" ></i>
        
        <p class="d-none d-md-block mb-0">Giỏ hàng</p>
        <span id="cartCount" class="badge text-bg-info text-black">0</span>
    </a>
    <a id="manage" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:black;">
        <i class="fas fa-user-alt m-1 me-md-2"></i>
        <p class="d-none d-md-block mb-0">
            Cá nhân
            @if (User.IsInRole("Admin")) @* @UserManager.GetUserName(User) *@
            {
                <span>(Admin)</span>
            }
            @if (User.IsInRole("Employee"))
            {
                <span>(Employee)</span>
            }
        </p>
    </a>
    @* class="d-none d-md-block mb-0 btn btn-light" *@
    <form id="logoutForm"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" style="color:black;background-color:white;"  class="me-1 border rounded py-1 px-4 nav-link d-flex align-items-center" type="submit">Đăng xuất</button>
        </form>
 
}
else
{
    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" style="color:black;">
    <i class="fas fa-user-alt m-1 me-md-2"></i>
            <p class="d-none d-md-block mb-0">Đăng nhập</p> 
        </a>
    <a id="register" asp-area="Identity" asp-page="/Account/Register" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" style="color:black;">
        <p class="d-none d-md-block mb-0">Đăng ký</p>
    </a>
}

