@model Sang3_Nhom2_WebBanThucPhamChucNang.Models.Product

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Product</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">View</li>
    </ol>
</nav>

<h2>@Model.ProductName</h2>
<div>
    <h3>Price: @Model.Price</h3>
    <p>@Model.Description</p>
    @if (!string.IsNullOrEmpty(Model.Img_Url))
    {
        <img src="/images/@Model.Img_Url" alt="Product Image" style="max-width:200px;" />
    }
</div>
<a class="btn btn-warning mt-2" asp-action="Index">Back to List</a>