@* @using Microsoft.AspNetCore.Mvc.Rendering
@model bool
@{
    ViewData["Title"] = "Check";
}
@if (Model == false)
{
    <h1 class="m-auto">You can try payment again</h1>
}
else
{
    <section style="background-color:#c6ced9;">
    <div class="card m-auto" style="width: 18rem;">
        <form asp-action="Check">
        <img src="/images/chipi.jpg" class="card-img-top" alt="image thanks you buy product" />
        <div class="card-body">
            <h5 class="card-title">Payment success</h5>
            <p class="card-text align-content-xl-center">Your order has been confirmed, please check your email.
                <p class="align-content-xl-center">
                We hope you have had a great experience with Innerglow.
Thank you for choosing Innerglow! We hope you will be satisfied with what you are looking for.
Thank you for your trust.
                </p>
            </p>
        </div>
        <ul class="list-group list-group-light list-group-small">
            <a asp-controller="Home" asp-action="Index" style="color:black;text-decoration:none;" class="m-auto">
                <li class="list-group-item px-4">See similar products</li>
            </a>
        </ul>
        <div class="card-body">
            <a asp-controller="UserOrder" asp-action="UserOrders" class="card-link" style="color:black;text-decoration:none;">Order placed</a>
            <a asp-controller="Home" asp-action="Index" class="card-link" style="color:black;text-decoration:none;">Return to home page</a>
        </div>
        </form>
    </div>
    </section>
    
}
<script>
    window.history.onpopstate = function (event) {
        window.location.href = "/Home/Index"; // Thay thế bằng URL mong muốn của bạn
    };
</script>
 *@@* 
@page "/Check" *@
@using Microsoft.AspNetCore.Mvc.Rendering
@model bool?

@inject IHtmlHelper Html



@if (Model.Value == false)
{
    <h1 class="m-auto">You can try payment again</h1>
}
else
{
    <section style="background-color:#c6ced9;">
        <div class="card m-auto" style="width: 18rem;">
            <form asp-action="Check">
                <img src="/images/chipi.jpg" class="card-img-top" alt="image thanks you buy product" />
                <div class="card-body">
                    <h5 class="card-title">Thanh toán thành công</h5>
                    <p class="card-text align-content-xl-center">Your order has been confirmed, please check your email.
                        <p class="align-content-xl-center">
                        We hope you have had a great experience with Innerglow.
                        Thank you for choosing Innerglow! We hope you will be satisfied with what you are looking for.
                        Thank you for your trust.
                        </p>
                    </p>
                </div>
                <ul class="list-group list-group-light list-group-small">
                    <a asp-controller="Home" asp-action="Index" style="color:black;text-decoration:none;" class="m-auto">
                    <li class="list-group-item px-4">See similar products</li>
                    </a>
                </ul>
                <div class="card-body">
                    <a asp-controller="UserOrder" asp-action="UserOrders" class="card-link" style="color:black;text-decoration:none;">Order placed</a>
                    <a asp-controller="Home" asp-action="Index" class="card-link" style="color:black;text-decoration:none;">Return to home page</a>
                </div>
            </form>
        </div>
    </section>
}

@Html.Raw(@"
<script>
    window.history.onpopstate = function (event) {
        window.location.href = '/Home/Index'; // Change url you want
    };
</script>
")
