@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

@* <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Input.Email" class="form-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
</form> *@

<div class="container" id="container" style="width: 30%; height: 400px;">
    <div class="login-section" style="width: 100%;">
        <div class="form-box">
            <form method="post">
                <h2>Forgot your password?</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="input-box" style="margin: 10% 0; width: 100%;">
                    <input asp-for="Input.Email" aria-required="true">
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="input-box" style="margin-top: 12%; width: 100%;">
                    <button id="registerSubmit" type="submit" class="btn">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
