@using Microsoft.AspNetCore.Identity;
@model IdentityRole;

@{
    ViewData["Title"] = "Create";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" asp-action="Index">Role</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Create</li>
    </ol>
</nav>

<h1>Create</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Add role</button>
</form>
