@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>;

@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-4">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            var i = 1;
            foreach (var item in Model)
            {
                <tr id="trow_@item.Id">
                    <td>@i</td>
                    <td>@item.Name</td>
                    <td>
                        <a href="/admin/roleadmin/Edit/@item.Id" class="btn btn-warning">Sửa</a>
                        <a href="/admin/roleadmin/Delete/@item.Id" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
