@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>;

@{
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" asp-action="Index">Role</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Index</li>
    </ol>
</nav>

<h1>Roles</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-4">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            var i = 1;
            foreach (var item in Model)
            {
                <tr id="trow_@item.Id">
                    <td>@i</td>
                    <td>@item.Name</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
